.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }

  .popup {
    background: #060E26;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    max-width: 1300px;
    max-height: 98%;
    width: 85%;
    position: relative;
    overflow: auto;
  }

  .popup h2 {
    margin-top: 0;
  }

  .popup form {
    display: flex;
    flex-direction: column;
  }

  .popup form input,
  .popup form textarea,
  .popup form button {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
.closePopup{
  position: absolute;
    top: 15px;
    right: 15px;
    padding: 10px;
    background: linear-gradient(219deg, #f70000 0%, #5d005f 100%);
    border: 1px solid #ccc;
    border-radius: 5px;
    color: white;
}
  .popup form button {
    cursor: pointer;
  }

  .popup.loading {
    opacity: 0.5;
    pointer-events: none;
  }

  .popup-buttons {
    display: flex;
    justify-content: space-between;
  }

  .popup-buttons button {
    flex: 1;
    margin: 0 5px;
  }

  .response {
    margin-top: 10px;
    color: green;
  }

  .loading-cursor {
    cursor: progress !important;
  }


@media only screen and (max-width: 767px){
  .popup {
    width: 95%;
  }
}
  
@media only screen and (max-width: 399px){
  .popup {
    width: 99%;
  }
  .popup textarea{
    height: 200px;
  }
}